<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartSQL">

	<insert id="cartInsert" parameterType="cart">
	insert into milkyCart  
				(cartCode, 
				 id, 
				 productCode, 
				 cartOption, 
				 cartQty)  
			 		values 
						('cart00100'||milkyCartSeq.nextval , 
						 #{id},  
						#{productCode},  
						#{cartOption},  
						#{cartQty})
	</insert>
	
	<select id="cartSelect" parameterType="String" resultType="cart">
		select
			productCode,
			productName, 
			productUnit,
			id,
			cartOption,
			cartQty,
			productRate,
			cartCode,
			productImageName
		from milkyCart
		join milkyproductinfo using(productcode)
		join milkyproductImage using(productcode)
		where id=#{id} and substr(productImagename,5,2) in('.j', '_1', '.p')
	</select>

	<update id="cartQty" parameterType="java.util.Map">
		update milkyCart set
			cartQty=#{cartQty} where cartCode=#{cartCode}
	</update> 
	
	<delete id="cartAllDelete" parameterType="String">
		delete milkyCart where id=#{id}
	</delete>
	
	<delete id="cartSelectDelete" parameterType="java.util.Map">
		delete milkyCart where id=#{id} and cartCode=#{cartCode}
	</delete>


</mapper>