<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shoppingSQL">
	
	<!-- shopping.jsp 목록  -->
	<select id="getShoppingList" resultType="shopping">
	(select productcode,productName,category,productUnit,PRODUCTIMAGENAME
      from milkyproductinfo 
      join milkyproductimage using(productcode)
      where (to_number(substr(productcode,2,3)) between 1 and 4)
      and category= '원두')
     union
    (select productcode,productName,category,productUnit,PRODUCTIMAGENAME
      from milkyproductinfo 
      join milkyproductimage using(productcode)
      where (to_number(substr(productcode,2,3)) between 1 and 4)
        and category= '티')
 	
    </select>
    
    
	<!-- 이미지 주소의 경로를 가져오는게 select PRODUCTIMAGENAME 를 해주는것.  -->
	<!-- TO_NUMBER : 문자를 숫자로 변환 
		substr(2,3) : 2번째부터 시작해서 3글자를 가져와주세요.
	-->
	<select id="getShoppingList2" resultType="shopping">
		(select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	  from milkyproductinfo 
    	  join milkyproductimage using(productcode)
   	      where (to_number(substr(productcode,2,3)) between 1 and 4)
     	  and category= '머그' and substr(PRODUCTIMAGENAME, 6,1)='1' )
	     union
	    (select productcode,productName,category,productUnit,PRODUCTIMAGENAME
	      from milkyproductinfo 
	      join milkyproductimage using(productcode)
	      where (to_number(substr(productcode,2,3)) between 1 and 4)
	      and category= '플라스틱 텀블러' and substr(PRODUCTIMAGENAME, 6,1)='1')
	
	</select>
	
	<!-- beanNTea.jsp 목록  -->
	<select id="getBeanNTeaList" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	  from milkyproductinfo 
    	  join milkyproductimage using(productcode)
   	      where (to_number(substr(productcode,2,3)) between 1 and 8)
     	  and category= '원두' 
	 </select>
	
	<select id="getBeanNTeaList2" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	  from milkyproductinfo 
    	  join milkyproductimage using(productcode)
   	      where (to_number(substr(productcode,2,3)) between 1 and 8)
     	  and category= '티' 
	 </select>
	 
	 <!-- beanList.jsp 목록  -->
	<select id="getBeanList" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	  from milkyproductinfo 
    	  join milkyproductimage using(productcode)
   	      where category= '원두' 
	 </select>
	 
	 <!-- teaList.jsp 목록  -->
	<select id="getTeaList" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	  from milkyproductinfo 
    	  join milkyproductimage using(productcode)
   	      where category= '티' 
     </select>
	 
	 
	 <!-- product.jsp 목록  -->
	<select id="getProductList" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	 from milkyproductinfo 
    	 join milkyproductimage using(productcode)
   	     where (to_number(substr(productcode,2,3)) between 1 and 8)
     	 and category= '머그' and substr(PRODUCTIMAGENAME, 6,1)='1'
	</select>
	
	<select id="getProductList2" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	 from milkyproductinfo 
    	 join milkyproductimage using(productcode)
   	     where (to_number(substr(productcode,2,3)) between 1 and 8)
     	 and category= '글라스' and substr(PRODUCTIMAGENAME, 6,1)='1'
	</select>
	
	<select id="getProductList3" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	 from milkyproductinfo 
    	 join milkyproductimage using(productcode)
   	     where (to_number(substr(productcode,2,3)) between 1 and 8)
     	 and category= '플라스틱 텀블러' and substr(PRODUCTIMAGENAME, 6,1)='1'
	</select>
	
	<select id="getProductList4" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	 from milkyproductinfo 
    	 join milkyproductimage using(productcode)
   	     where (to_number(substr(productcode,2,3)) between 1 and 8)
     	 and category= '스테인리스 텀블러' and substr(PRODUCTIMAGENAME, 6,1)='1'
	</select>
	
	<select id="getProductList5" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	 from milkyproductinfo 
    	 join milkyproductimage using(productcode)
   	     where (to_number(substr(productcode,2,3)) between 1 and 8)
     	 and category= '보온병' and substr(PRODUCTIMAGENAME, 6,1)='1'
	</select>
	
	<select id="getProductList6" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	 from milkyproductinfo 
    	 join milkyproductimage using(productcode)
   	     where (to_number(substr(productcode,2,3)) between 1 and 8)
     	 and category= '커피용품' and substr(PRODUCTIMAGENAME, 6,1)='1'
	</select>

	<select id="getMugList" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	 from milkyproductinfo 
    	 join milkyproductimage using(productcode)
   	     where category= '머그' and substr(PRODUCTIMAGENAME, 6,1)='1'
	</select>
	
	<!-- 머그 -->
	<select id="getGlassList" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	 from milkyproductinfo 
    	 join milkyproductimage using(productcode)
   	     where (to_number(substr(productcode,2,3)) between 1 and 10)
     	 and category= '글라스' and substr(PRODUCTIMAGENAME, 6,1)='1'
	</select>
	
	<!-- 플라스틱 -->
	<select id="getPlasticTumblrList" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	 from milkyproductinfo 
    	 join milkyproductimage using(productcode)
   	     where category= '플라스틱 텀블러' and substr(PRODUCTIMAGENAME, 6,1)='1'
	</select>

	<!-- 스테인리스 -->
	<select id="getStainlessTumblrList" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	 from milkyproductinfo 
    	 join milkyproductimage using(productcode)
   	     where category= '스테인리스 텀블러' and substr(PRODUCTIMAGENAME, 6,1)='1'
	</select>
	
	<!-- 보온병 -->
	<select id="getThermosList" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	 from milkyproductinfo 
    	 join milkyproductimage using(productcode)
   	     where category= '보온병' and substr(PRODUCTIMAGENAME, 6,1)='1'
	</select>
	
	<!-- 커피용품 -->
	<select id="getCoffeeEtcList" resultType="shopping">
		select productcode,productName,category,productUnit,PRODUCTIMAGENAME
    	 from milkyproductinfo 
    	 join milkyproductimage using(productcode)
   	     where category= '커피용품' and substr(PRODUCTIMAGENAME, 6,1)='1'
	</select>

	<!-- 쇼핑 상세페이지 -->
	<select id="getShoppingDetail" parameterType="String" resultType="shopping">
		select 
			productcode,
			productName,
			category,
			productUnit,
			productImageName,
			productOption,
			productEngName,
			productSmallInfo,
			productDetailInfo
    	from milkyproductinfo 
    	join milkyproductimage using(productcode)
    	join milkyproductdetail using(productcode)
    	where productcode=#{productCode}
   	</select>
   	
   	<!-- 쇼핑jsp에서 링크타고 상세페이지 이동 -->
   	<select id="clickImg" parameterType="String" resultType="shopping">
   		select * from milkyproductinfo where productCode=#{productCode}
   	</select>
   	
   	<!-- 장바구니 상품코드 확인 _ 몇개행이 출력됬는지 갯수를 세라 -->
    <select id="productSelect" parameterType="java.util.Map" resultType="int">
   		select count(*) from milkycart where id=#{id} and productCode=#{productCode}
   	</select> 
   	
   	<select id="getReviewTotalA" parameterType="String" resultType="int">
   		select count(*) from milkyreview where productCode=#{productCode}
   	</select>

	<select id="getReview" parameterType="java.util.Map" resultType="review">
		select * from 
			(select rownum rn, a.*  
				from (select reviewcode, productcode, reviewlike, id,
				reviewcontent, to_char(reviewdate, 'yyyy-mm-dd hh24:Mi:ss') "reviewDate"
			from milkyreview where productCode=#{productCode} order by reviewcode desc) a)
			where rn between #{startNum} and #{endNum} 
	</select>
	
	<insert id="reviewInsert" parameterType="review">
		insert into milkyreview values(milkyReviewSeq.nextval, #{productCode}, #{reviewLike}, #{id}, #{reviewContent}, '답변 대기', sysdate)
	</insert>
	
	<insert id="insertWishList" parameterType="java.util.Map">
		insert into milkywishlist values(milkywishlistseq.nextval, #{id}, #{productCode}, sysdate)
	</insert>
	
	<select id="getWishProduct" parameterType="java.util.Map" resultType="String">
		select productCode from milkywishlist where id=#{id} and productcode=#{productCode}
	</select>
</mapper>