<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="product.bean.ProductDTO" alias="product"/>

		<typeAlias type="member.bean.MemberDTO" alias="member"/>

		<typeAlias type="grade.bean.GradeDTO" alias="grade" />

		<typeAlias type="shopping.bean.ShoppingDTO" alias="shopping"/>
		
		<typeAlias type="qnaBoard.bean.QnaBoardDTO" alias="qnaBoard"/>
		
		<typeAlias type="comment.bean.CommentDTO" alias="comment"/>
		
		<typeAlias type="payment.bean.PaymentDTO" alias="payment"/>

		<typeAlias type="notice.bean.NoticeBoardDTO" alias="noticeBoard"/>

		<typeAlias type="notice.bean.EventBoardDTO" alias="eventBoard"/>

		<typeAlias type="notice.bean.FaqBoardDTO" alias="faqBoard"/>
				
		<typeAlias type="findStore.bean.FindStoreDTO" alias="findStore"/>
		
		<typeAlias type="menuInfo.bean.MenuInfoDTO" alias="menuInfo"/>
		
		<typeAlias type="mypage.bean.MypageShipmentDTO" alias="shipment"/>
		
		<typeAlias type="mypage.bean.MemberRatingDTO" alias="rating"/>
		
		<typeAlias type="member.bean.MemberCouponDTO" alias="memberCoupon"/>
		
		<typeAlias type="cart.bean.CartDTO" alias="cart"/>
		
		<typeAlias type="shopping.bean.ReviewDTO" alias="review"/>
		
		<typeAlias type="admin.bean.AdminDTO" alias="admin"/>
		
		<typeAlias type="mypage.bean.WishListDTO" alias="wishList"/>
	</typeAliases>
</configuration>